<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author">
    <title>Uber Portal</title>
    <% if(env === 'development') { %>

    <link rel="stylesheet" href="/javascripts/bower_components/jqTree/jqtree.css"/>
    <link rel="stylesheet" href="/javascripts/bower_components/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css"/>
    <link rel="stylesheet" href="/javascripts/bower_components/ui-select/dist/select.min.css"/>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">
    <link rel="stylesheet" href="/javascripts/bower_components/bootstrap/dist/css/bootstrap.min.css?v=<%= deployVersion %>"/>
    <link rel="stylesheet" href="/stylesheets/css/styles.css?v=<%= deployVersion %>"/>

    <% } else { %>
    <link rel="stylesheet" href="/javascripts/bower_components/bootstrap/dist/css/bootstrap.min.css?v=<%= deployVersion %>"/>
    <link rel="stylesheet" href="/stylesheets/css/styles.min.css?v=<%= deployVersion %>"/>
    <% } %>

</head>
<body id="page-top">

